Repository giftify-quest/MVP-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

lint-staged
  app/layout.tsx
  lint-staged.config.js
Due: npm run format, npm run lint

fix lint-staged
  lint-staged.config.js
Due: none

fix image section
  .husky/pre-commit
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/reusableComponent/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/reusableComponent/ImageForQuestionComponent/styles.module.scss
  testContent/questTest.ts
Due: npm run format, npm run lint

textField/Input/VariantsText/VariantField/WrapperBackground/
  components/AnswerComponents/AnswerWithOutPicture/AnswerWithOutPicture.tsx
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/QuestionWithFreeInput.tsx
  components/Sections/SectionFreeInput/section/SectionFreeInput.tsx
  components/Sections/SectionFreeInput/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionImageQuestion/types/index.ts
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/Sections/SectionVariantQuestion/section/SectionVariantQuestion.tsx
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/Sections/SectionVariantQuestion/types/index.ts
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/SectionTitle/styles.module.scss
  components/reusableComponent/TextField/styles.module.scss
  components/reusableComponent/TextFieldInfo/TextFieldInfo.tsx
  components/reusableComponent/TextFieldInfo/styles.module.scss
  components/reusableComponent/VariantsAnswerField/styles.module.scss
  components/reusableComponent/VariantsTextField/styles.module.scss
  components/reusableComponent/WrapperWithBackground/WrapperWithBackground.tsx
  components/reusableComponent/WrapperWithBackground/styles.module.scss
  hooks/setIsMobile.ts
  public/assets/adaptiveAnswerBckgImg.png
  public/assets/adaptiveQuestionBckgImg.png
  testContent/questTest.ts
  types/answer/index.ts
Due: npm run format, npm run lint

fix changes
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/WisherFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/section/SectionFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/types/index.ts
  components/Sections/SectionFirst/section/SectionFirst.tsx
  testContent/questTest.ts
Due: npm run format, npm run lint

fix
  components/AnswerComponents/AnswerWithOutPicture/styles.module.scss
  components/Sections/SectionFirst/section/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/Sections/SectionVariantQuestion/section/styles.module.scss
Due: npm run format

fix issues
  app/globals.css
  components/AnswerComponents/AnswerWithOutPicture/AnswerWithOutPicture.tsx
  components/Sections/SectionFirst/components/Title/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/TextFieldInfo/styles.module.scss
  components/reusableComponent/WrapperWithBackground/WrapperWithBackground.tsx
  components/reusableComponent/WrapperWithBackground/styles.module.scss
  hooks/useIsMobile.ts
Due: npm run format, npm run lint

add mobile first last section
  app/globals.css
  app/page.tsx
  app/variables.scss
  components/Sections/SectionFinalSurprise/components/CollageComponents/CollageComponents.tsx
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/FeedPhotoSection.tsx
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFinalSurprise/components/OpenFinalSurprise/OpenFinalSurprise.tsx
  components/Sections/SectionFirst/components/Title/Title.tsx
  components/Sections/SectionFirst/components/Title/styles.module.scss
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/Sections/SectionFirst/section/SectionFirst.tsx
  components/Sections/SectionFirst/section/styles.module.scss
  components/Sections/SectionFirst/types/index.ts
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/reusableComponent/ButtonMain/styles.module.scss
  components/reusableComponent/WrapperWithBackground/WrapperWithBackground.tsx
  components/reusableComponent/WrapperWithBackground/styles.module.scss
  public/assets/section-first/bg-mobile-section-first.png
  public/assets/section-first/line-mobile.png
  testContent/questTest.ts
Due: npm run format, npm run lint

fix pre-commit
  .husky/pre-commit
Due: none

edit pre-commit
  .husky/pre-commit
Due: none

pre-commit
  .lintstagedrc.js
Due: none

format scss
  app/globals.css
  components/AnswerComponents/AnswerWithOutPicture/styles.module.scss
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFirst/components/Title/styles.module.scss
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/Sections/SectionFirst/section/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/reusableComponent/ImageForQuestionComponent/styles.module.scss
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/SectionTitle/styles.module.scss
  components/reusableComponent/TextField/styles.module.scss
  components/reusableComponent/TextFieldInfo/styles.module.scss
  components/reusableComponent/VariantsAnswerField/styles.module.scss
  components/reusableComponent/VariantsTextField/styles.module.scss
  components/reusableComponent/WrapperWithBackground/styles.module.scss
Due: npm run format

add-swiper
  app/variables.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/components/ImagesWrapper/ImagesWrapper.tsx
  components/Sections/SectionImageQuestion/components/ImagesWrapper/styles.module.scss
  components/Sections/SectionImageQuestion/types/index.ts
  components/reusableComponent/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/reusableComponent/ImageForQuestionComponent/styles.module.scss
  package-lock.json
  package.json
  public/test.jpeg
  public/test.png
  public/test.webp
  testContent/questTest.ts
Due: npm run format, npm run lint

add-swiper-mobile
  app/page.tsx
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImagesWrapper/ImagesWrapper.tsx
  components/Sections/SectionImageQuestion/components/ImagesWrapper/styles.module.scss
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionImageQuestion/types/index.ts
  components/reusableComponent/FramedPhoto/FramedPhoto.tsx
  components/reusableComponent/FramedPhoto/styles.module.scss
  public/assets/testImage/image1.png
  public/assets/testImage/image2.png
  public/assets/testImage/image3.png
  public/test.jpeg
  public/test.png
  public/test.webp
  testContent/questTest.ts
  types/answer/index.ts
Due: npm run format, npm run lint

fix issues
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/WrapperWithBackground/styles.module.scss
  public/assets/adaptiveAnswerBckgImg.png
  public/assets/adaptiveQuestionBckgImg.png
Due: npm run format

merge_with_develop
  app/page.tsx
  app/variables.scss
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImagesWrapper/ImagesWrapper.tsx
  components/Sections/SectionImageQuestion/components/ImagesWrapper/styles.module.scss
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionImageQuestion/types/index.ts
  components/reusableComponent/FramedPhoto/FramedPhoto.tsx
  components/reusableComponent/FramedPhoto/styles.module.scss
  components/reusableComponent/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/reusableComponent/ImageForQuestionComponent/styles.module.scss
  package-lock.json
  package.json
  public/assets/testImage/image1.png
  public/assets/testImage/image2.png
  public/assets/testImage/image3.png
  testContent/questTest.ts
  types/answer/index.ts
Due: npm run format, npm run lint

fix issues_ finish variant asnwer section
  app/globals.css
  app/page.tsx
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/AnswerComponents/AnswerWithPicture/styles.module.scss
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/WisherFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/styles.module.scss
  components/Sections/SectionFinalSurprise/section/SectionFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/section/styles.module.scss
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/styles.module.scss
  components/Sections/SectionFreeInput/section/SectionFreeInput.tsx
  components/Sections/SectionFreeInput/section/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImagesWrapper/styles.module.scss
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionImageQuestion/section/styles.module.scss
  components/Sections/SectionVariantQuestion/section/SectionVariantQuestion.tsx
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/TextFieldInfo/TextFieldInfo.tsx
  components/reusableComponent/TextFieldInfo/styles.module.scss
  components/reusableComponent/WrapperWithBackground/styles.module.scss
Due: npm run format, npm run lint

add-swiper
  public/test.jpeg
  public/test.png
  public/test.webp
Due: none

add-swiper-mobile
  app/page.tsx
  public/test.jpeg
  public/test.png
  public/test.webp
Due: npm run format, npm run lint

fix eslint problem
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
Due: npm run format, npm run lint

fix eslint problem
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
Due: npm run format

fix issues
  app/page.tsx
Due: npm run format, npm run lint

fix bugs
  testContent/questTest.ts
Due: npm run format, npm run lint

issues
  components/reusableComponent/FramedPhoto/styles.module.scss
Due: npm run format

fix iisues deploy
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
Due: npm run format, npm run lint

deploy fix
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
Due: npm run format, npm run lint

fix bugs first quest
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/FeedPhotoSection.tsx
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/WisherFinalSurprise.tsx
  components/Sections/SectionFirst/components/TitlePhoto/TitlePhoto.tsx
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/reusableComponent/SectionTitle/SectionTitle.tsx
  components/reusableComponent/SectionTitle/styles.module.scss
  components/reusableComponent/TextFieldInfo/styles.module.scss
  public/firstQuest/music/music.mp3
Due: npm run format, npm run lint

fix some issues
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/AnswerComponents/AnswerWithPicture/styles.module.scss
  components/Sections/SectionFirst/components/Title/Title.tsx
  components/Sections/SectionFirst/components/Title/styles.module.scss
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/QuestionWithFreeInput.tsx
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/styles.module.scss
  components/Sections/SectionFreeInput/section/SectionFreeInput.tsx
  components/Sections/SectionImageQuestion/components/ImageQuestions/ImageQuestion.tsx
  components/Sections/SectionImageQuestion/section/SectionImageQuestion.tsx
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/Sections/SectionVariantQuestion/section/SectionVariantQuestion.tsx
  components/reusableComponent/PhotosSection/styles.module.scss
  hooks/setRandomBackground.ts
  public/firstQuest/firstVariant/answerPhotoFirst.png
  public/firstQuest/fivethQuestion/answerPhotoOur.png
  public/firstQuest/fourthQuestion/answerPhotoFood.png
  public/firstQuest/nineQUestion/answerPhotoFinal.jpg
  public/firstQuest/nineQUestion/answerPhotoFinal.png
  public/firstQuest/sevenQuestion/answerPhotoMomentTogether.png
  public/firstQuest/sixQuestion/answerPhotoTheMost.png
  public/firstQuest/thirdQuestion/answerPhotoLemon.png
  public/firstQuest/togetherWeCan/answerPhotoWeCan.png
  testContent/firstQuest.ts
  types/question/index.ts
Due: npm run format, npm run lint

fix issues
  app/page.tsx
  components/AnswerComponents/AnswerWithPicture/styles.module.scss
  components/Sections/SectionFinalSurprise/components/CollageComponents/CollageComponents.tsx
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/WisherFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/styles.module.scss
  components/Sections/SectionFinalSurprise/section/SectionFinalSurprise.tsx
  components/Sections/SectionFinalSurprise/types/index.ts
  components/Sections/SectionFirst/components/Title/Title.tsx
  components/Sections/SectionFirst/section/SectionFirst.tsx
  components/Sections/SectionFirst/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/reusableComponent/SectionTitle/SectionTitle.tsx
  components/reusableComponent/TextFieldInfo/TextFieldInfo.tsx
  components/reusableComponent/TextFieldInfo/styles.module.scss
  public/firstQuest/eightsQuestion/answerPhotoAdventures.png
  testContent/firstQuest.ts
Due: npm run format, npm run lint

fix others
  testContent/questTest.ts
Due: npm run format, npm run lint

fix bugs
  components/AnswerComponents/AnswerWithPicture/AnswerWithPicture.tsx
  components/AnswerComponents/AnswerWithPicture/styles.module.scss
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFinalSurprise/components/WishesFinalSurprise/styles.module.scss
  components/Sections/SectionFinalSurprise/section/SectionFinalSurprise.tsx
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/Sections/SectionImageQuestion/components/ImagesWrapper/ImagesWrapper.tsx
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/reusableComponent/ButtonConfirm/styles.module.scss
  components/reusableComponent/ConfettiIcon/ConfettiIcon.tsx
  components/reusableComponent/ConfettiIcon/styles.module.scss
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/SectionTitle/SectionTitle.tsx
  components/reusableComponent/TextField/styles.module.scss
  components/reusableComponent/TextFieldInfo/styles.module.scss
  components/reusableComponent/VariantsTextField/VariantTextField.tsx
  components/reusableComponent/VariantsTextField/styles.module.scss
  public/assets/finalSurpriseMobeliBg.png
  testContent/firstQuest.ts
Due: npm run format, npm run lint

fix bugs
  app/page.tsx
  components/Sections/SectionFinalSurprise/components/FeedPhotosComponent/style.module.scss
  components/Sections/SectionFinalSurprise/section/SectionFinalSurprise.tsx
  components/Sections/SectionFirst/components/TitlePhoto/TitlePhoto.tsx
  components/Sections/SectionFirst/components/TitlePhoto/styles.module.scss
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/styles.module.scss
  components/Sections/SectionFreeInput/section/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/ImageForQuestionComponent.tsx
  components/Sections/SectionImageQuestion/components/ImageForQuestionComponent/types/index.ts
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImagesWrapper/ImagesWrapper.tsx
  components/Sections/SectionImageQuestion/section/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/Sections/SectionVariantQuestion/section/styles.module.scss
  components/reusableComponent/ConfettiIcon/styles.module.scss
  components/reusableComponent/PhotosSection/styles.module.scss
  components/reusableComponent/SectionTitle/SectionTitle.tsx
  components/reusableComponent/SectionTitle/styles.module.scss
  components/reusableComponent/VariantsAnswerField/VariantAnswersField.tsx
  components/reusableComponent/VariantsTextField/VariantTextField.tsx
  hooks/setRandomBackground.ts
  public/assets/bgSrcMobileQuestion/bgmobile1.png
  public/assets/bgSrcMobileQuestion/bgmobile10.png
  public/assets/bgSrcMobileQuestion/bgmobile11.png
  public/assets/bgSrcMobileQuestion/bgmobile2.png
  public/assets/bgSrcMobileQuestion/bgmobile3.png
  public/assets/bgSrcMobileQuestion/bgmobile4.png
  public/assets/bgSrcMobileQuestion/bgmobile5.png
  public/assets/bgSrcMobileQuestion/bgmobile6.png
  public/assets/bgSrcMobileQuestion/bgmobile7.png
  public/assets/bgSrcMobileQuestion/bgmobile8.png
  public/assets/bgSrcMobileQuestion/bgmobile9.png
Due: npm run format, npm run lint

fix
  app/page.tsx
Due: npm run format, npm run lint

fix bugs
  components/Sections/SectionFreeInput/components/QuestionWithFreeInput/styles.module.scss
  components/Sections/SectionImageQuestion/components/ImageQuestions/styles.module.scss
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
  components/reusableComponent/VariantsAnswerField/VariantAnswersField.tsx
  components/reusableComponent/VariantsTextField/VariantTextField.tsx
  components/reusableComponent/VariantsTextField/styles.module.scss
Due: npm run format, npm run lint

fix bugs
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/reusableComponent/VariantsAnswerField/VariantAnswersField.tsx
  components/reusableComponent/VariantsTextField/VariantTextField.tsx
Due: npm run format, npm run lint

Fix typo
  testContent/firstQuest.ts
Due: npm run format, npm run lint

fix bugs
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/VariantQuestion.tsx
  components/Sections/SectionVariantQuestion/components/QuestionWithAnswerVariant/styles.module.scss
Due: npm run format, npm run lint

Path conditions:
  npm run format: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,scss, md})
  npm run lint: any of: */**/*.{js,jsx,ts,tsx}
